@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
html {
    font-family: 'Noto Serif Display', serif;
}

.nav {
    color: black;
    height: 80px;
    line-height: 30px;
}

#cocktail-input {
    font-family: 'Noto Serif Display', serif;
}

.input-field label {
    color: white;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 1%;
}