@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
html {
    font-family: 'Spectral', serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p {
    font-weight: bold;
}


/* #main-info {
    width: 70%;
    justify-content: center;
} */

.right-align {
    margin: 0;
}

.nav {
    color: black;
    height: 80px;
    line-height: 30px;
}

#cocktail-input {
    font-family: 'Spectral', serif;
}

#cocktail-input-2,
#ingredient-input {
    font-family: 'Spectral', serif;
}

.landing-info {
    font-size: 20px;
    font-weight: lighter;
}

.input-field label {
    color: white;
}

.img-head {
    margin: 10px 0;
    width: 70%;
}

.btn {
    font-family: 'Spectral', serif;
}

.page-footer {
    padding: 5px;
    line-height: 10px;
    margin-bottom: 0;
    font-weight: lighter;
}

li {
    text-decoration: none;
    float: left;
    text-align: left;
    padding-right: 10px;
}

ul {
    list-style-type: none;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 1%;
}